{% extends 'base/body.html' %}
{% load static %}
{% block head %}
    
    <!-- jQuery UI -->
    <script src="{% static 'adminlte-3.1.0/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>

      <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/dist/css/adminlte.min.css' %}">

    <!-- Highcharts-->
    <script src="{% static 'Highcharts-11.1.0/code/highcharts.js'%}"></script>
    <script src="{% static 'Highcharts-11.1.0/code/highcharts-more.js'%}"></script>
    <script src="{% static 'Highcharts-11.1.0/code/modules/exporting.js'%}"></script>
    <script src="{% static 'Highcharts-11.1.0/code/modules/export-data.js'%}"></script>
    <script src="{% static 'Highcharts-11.1.0/code/modules/accessibility.js'%}"></script>
    <script src="{% static 'Highcharts-11.1.0/code/modules/series-label.js'%}"></script>


    <style>
        .highcharts-figure .chart-container {
            width: 300px;
            height: 200px;
            float: left;
        }
        
        .highcharts-figure,
        .highcharts-data-table table {
            width: 400px;
            margin: 0 auto;
        }
        
        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        
        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }
        
        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }
        
        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }
        
        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }
        
        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
        
        @media (max-width: 200px) {
            .highcharts-figure,
            .highcharts-data-table table {
                width: 100%;
            }
        
            .highcharts-figure .chart-container {
                width: 400px;
                float: none;
                margin: 0 auto;
            }
        }
        
    </style>

   
    


    


{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">{{ subTitle }}</h4>
              </div>
              <div class="card-body">
        
                        
                        <table class="table table-bordered table-striped" id="data_table">
                            <thead>
                                <tr>
                                    <th>Station</th>
                                    <th>Sensor</th>
                                    <th>Timestamp</th>
                                    <th>Value</th>
                                    <th>Type</th>
                                    <th>Menssage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alarm in alarms %}
                                    <tr>
                                        <td>{{ alarm.sensor.stationID.name }}</td>
                                        <td>{{ alarm.sensor.sensorName }}</td>
                                        <td>{{ alarm.timestamp|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ alarm.value }} </td>
                                        <td>{{ alarm.alarm_type }}</td>
                                        <td>{{ alarm.message }}</td>
                                    </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No se encontraron alarmas.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


              </div>
            </div>
          </div>

           
        </div>  
         
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascript %}
<!-- jQuery -->
<script src="{% static 'adminlte-3.1.0/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- DataTables  & Plugins -->
<script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<!--<script>
    $(document).ready(function() {
        $('.table').each(function(index) {
            var table = $(this).DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });

            // Obtén los datos de la tabla y conviértelos en un arreglo para Highcharts
            var data = table.rows().data().toArray();

            // Configura opciones para el gráfico
            var chartOptions = {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Gráfico'
                },
                xAxis: {
                    categories: data.map(function(row) {
                        return row[0]; // Suponemos que la primera columna es el eje X (Timestamp)
                    })
                },
                series: [{
                    name: 'Value',
                    data: data.map(function(row) {
                        return parseFloat(row[1]); // Suponemos que la segunda columna es el valor
                    })
                }]
            };

            // Crea el gráfico en el contenedor correspondiente
            Highcharts.chart('chart-' + (index + 1), chartOptions);
        });
    });
</script>-->

<!--<script>
  $(document).ready(function() {
      // Inicializa DataTables en todas las tablas con la clase "display"
      $('.table').each(function() {
          var table = $(this).DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('.table .col-md-6:eq(0)');     
          
          //table.buttons().container().appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );

          
      });
  });
</script>-->


<script>
  $(document).ready(function() {
       // Inicializa DataTables en todas las tablas con la clase "display"
       $('.table').each(function() {
           $(this).DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
               // Puedes agregar más opciones aquí
           });
       });
   });
</script>



{% endblock %}